MovieOrchestration/MovieOrchBusinessLayer/Service References/UserService/UserService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8562/UserService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8562/UserService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8562/UserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UserCommunicationLayer.DataContracts.Input" />
      <xsd:import schemaLocation="http://localhost:8562/UserService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/UserCommunicationLayer.DataContracts.Response" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserService_CreateAchievement_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateAchievement" />
  </wsdl:message>
  <wsdl:message name="IUserService_CreateAchievement_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateAchievementResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_CreateAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateAdmin" />
  </wsdl:message>
  <wsdl:message name="IUserService_CreateAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddWatchListToUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddWatchListToUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddWatchListToUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddWatchListToUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeleteAchievementById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAchievementById" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeleteAchievementById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAchievementByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeleteAdminById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAdminById" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeleteAdminById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAdminByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeleteUserById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserById" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeleteUserById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeleteWatchlistById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteWatchlistById" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeleteWatchlistById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteWatchlistByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetAchievementById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAchievementById" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetAchievementById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAchievementByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetAdminById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAdminById" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetAdminById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAdminByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserById" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetAllAchievements_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAchievements" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetAllAchievements_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAchievementsResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetAllAdmins_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAdmins" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetAllAdmins_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAdminsResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddAchievementToUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAchievementToUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddAchievementToUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAchievementToUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddFriend_InputMessage">
    <wsdl:part name="parameters" element="tns:AddFriend" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddFriend_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddFriendResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeleteFriend_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFriend" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeleteFriend_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFriendResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateAchievement_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAchievement" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateAchievement_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAchievementResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAdmin" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserService">
    <wsdl:operation name="CreateAchievement">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/CreateAchievement" message="tns:IUserService_CreateAchievement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/CreateAchievementResponse" message="tns:IUserService_CreateAchievement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/CreateAdmin" message="tns:IUserService_CreateAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/CreateAdminResponse" message="tns:IUserService_CreateAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/CreateUser" message="tns:IUserService_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/CreateUserResponse" message="tns:IUserService_CreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddWatchListToUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/AddWatchListToUser" message="tns:IUserService_AddWatchListToUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/AddWatchListToUserResponse" message="tns:IUserService_AddWatchListToUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAchievementById">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/DeleteAchievementById" message="tns:IUserService_DeleteAchievementById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/DeleteAchievementByIdResponse" message="tns:IUserService_DeleteAchievementById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAdminById">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/DeleteAdminById" message="tns:IUserService_DeleteAdminById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/DeleteAdminByIdResponse" message="tns:IUserService_DeleteAdminById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUserById">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/DeleteUserById" message="tns:IUserService_DeleteUserById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/DeleteUserByIdResponse" message="tns:IUserService_DeleteUserById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteWatchlistById">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/DeleteWatchlistById" message="tns:IUserService_DeleteWatchlistById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/DeleteWatchlistByIdResponse" message="tns:IUserService_DeleteWatchlistById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAchievementById">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetAchievementById" message="tns:IUserService_GetAchievementById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetAchievementByIdResponse" message="tns:IUserService_GetAchievementById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAdminById">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetAdminById" message="tns:IUserService_GetAdminById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetAdminByIdResponse" message="tns:IUserService_GetAdminById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserById">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUserById" message="tns:IUserService_GetUserById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUserByIdResponse" message="tns:IUserService_GetUserById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAchievements">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetAllAchievements" message="tns:IUserService_GetAllAchievements_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetAllAchievementsResponse" message="tns:IUserService_GetAllAchievements_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAdmins">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetAllAdmins" message="tns:IUserService_GetAllAdmins_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetAllAdminsResponse" message="tns:IUserService_GetAllAdmins_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetAllUsers" message="tns:IUserService_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetAllUsersResponse" message="tns:IUserService_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAchievementToUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/AddAchievementToUser" message="tns:IUserService_AddAchievementToUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/AddAchievementToUserResponse" message="tns:IUserService_AddAchievementToUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddFriend">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/AddFriend" message="tns:IUserService_AddFriend_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/AddFriendResponse" message="tns:IUserService_AddFriend_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFriend">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/DeleteFriend" message="tns:IUserService_DeleteFriend_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/DeleteFriendResponse" message="tns:IUserService_DeleteFriend_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAchievement">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/UpdateAchievement" message="tns:IUserService_UpdateAchievement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/UpdateAchievementResponse" message="tns:IUserService_UpdateAchievement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/UpdateAdmin" message="tns:IUserService_UpdateAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/UpdateAdminResponse" message="tns:IUserService_UpdateAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/UpdateUser" message="tns:IUserService_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/UpdateUserResponse" message="tns:IUserService_UpdateUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserService" type="tns:IUserService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateAchievement">
      <soap:operation soapAction="http://tempuri.org/IUserService/CreateAchievement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAdmin">
      <soap:operation soapAction="http://tempuri.org/IUserService/CreateAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddWatchListToUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/AddWatchListToUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAchievementById">
      <soap:operation soapAction="http://tempuri.org/IUserService/DeleteAchievementById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAdminById">
      <soap:operation soapAction="http://tempuri.org/IUserService/DeleteAdminById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUserById">
      <soap:operation soapAction="http://tempuri.org/IUserService/DeleteUserById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteWatchlistById">
      <soap:operation soapAction="http://tempuri.org/IUserService/DeleteWatchlistById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAchievementById">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetAchievementById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdminById">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetAdminById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserById">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUserById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAchievements">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetAllAchievements" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAdmins">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetAllAdmins" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAchievementToUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/AddAchievementToUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFriend">
      <soap:operation soapAction="http://tempuri.org/IUserService/AddFriend" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFriend">
      <soap:operation soapAction="http://tempuri.org/IUserService/DeleteFriend" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAchievement">
      <soap:operation soapAction="http://tempuri.org/IUserService/UpdateAchievement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAdmin">
      <soap:operation soapAction="http://tempuri.org/IUserService/UpdateAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService">
    <wsdl:port name="BasicHttpBinding_IUserService" binding="tns:BasicHttpBinding_IUserService">
      <soap:address location="http://localhost:8562/UserService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>