MovieOrchestration/MovieOrchBusinessLayer/Service References/UserService/UserService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UserCommunicationLayer.DataContracts.Input" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UserCommunicationLayer.DataContracts.Input" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AchievementInput">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseInput">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AchievementInput" nillable="true" type="tns:AchievementInput" />
  <xs:complexType name="BaseInput">
    <xs:sequence>
      <xs:element minOccurs="0" name="Application" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseInput" nillable="true" type="tns:BaseInput" />
  <xs:complexType name="ClientInput">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseInput">
        <xs:sequence>
          <xs:element minOccurs="0" name="Age" type="xs:int" />
          <xs:element minOccurs="0" name="ClientPassword" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClientInput" nillable="true" type="tns:ClientInput" />
  <xs:complexType name="WatchlistInput">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseInput">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="UserId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WatchlistInput" nillable="true" type="tns:WatchlistInput" />
  <xs:complexType name="IdentificationInput">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseInput">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IdentificationInput" nillable="true" type="tns:IdentificationInput" />
  <xs:complexType name="RelationsInput">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseInput">
        <xs:sequence>
          <xs:element minOccurs="0" name="ChildId" type="xs:int" />
          <xs:element minOccurs="0" name="ParentId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RelationsInput" nillable="true" type="tns:RelationsInput" />
</xs:schema>