MovieOrchestration/MovieOrchBusinessLayer/Service References/UserService/UserService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UserCommunicationLayer.DataContracts.Response" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UserCommunicationLayer.DataContracts.Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="IdentificationResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IdentificationResponse" nillable="true" type="tns:IdentificationResponse" />
  <xs:complexType name="BaseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Errors" nillable="true" type="tns:ArrayOfError" />
      <xs:element minOccurs="0" name="Succes" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseResponse" nillable="true" type="tns:BaseResponse" />
  <xs:complexType name="ArrayOfError">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Error" nillable="true" type="tns:Error" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfError" nillable="true" type="tns:ArrayOfError" />
  <xs:complexType name="Error">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PropertyName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Error" nillable="true" type="tns:Error" />
  <xs:complexType name="AchievementResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Users" nillable="true" type="tns:ArrayOfClientResponse" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AchievementResponse" nillable="true" type="tns:AchievementResponse" />
  <xs:complexType name="ArrayOfClientResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClientResponse" nillable="true" type="tns:ClientResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClientResponse" nillable="true" type="tns:ArrayOfClientResponse" />
  <xs:complexType name="ClientResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Age" type="xs:int" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClientResponse" nillable="true" type="tns:ClientResponse" />
  <xs:complexType name="UserResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ClientResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Achievements" nillable="true" type="tns:ArrayOfAchievementResponse" />
          <xs:element minOccurs="0" name="Friends" nillable="true" type="tns:ArrayOfClientResponse" />
          <xs:element minOccurs="0" name="Watchlists" nillable="true" type="tns:ArrayOfWatchlistResponse" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserResponse" nillable="true" type="tns:UserResponse" />
  <xs:complexType name="ArrayOfAchievementResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AchievementResponse" nillable="true" type="tns:AchievementResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAchievementResponse" nillable="true" type="tns:ArrayOfAchievementResponse" />
  <xs:complexType name="ArrayOfWatchlistResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WatchlistResponse" nillable="true" type="tns:WatchlistResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWatchlistResponse" nillable="true" type="tns:ArrayOfWatchlistResponse" />
  <xs:complexType name="WatchlistResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WatchlistResponse" nillable="true" type="tns:WatchlistResponse" />
  <xs:complexType name="AchievementListResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Achievements" nillable="true" type="tns:ArrayOfAchievementResponse" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AchievementListResponse" nillable="true" type="tns:AchievementListResponse" />
  <xs:complexType name="ClientListResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Clients" nillable="true" type="tns:ArrayOfClientResponse" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClientListResponse" nillable="true" type="tns:ClientListResponse" />
</xs:schema>